In [31]:
import pandas as pd
from pathlib import Path
import csv

In [32]:
PyBank_Path = Path('Resources/budget_data.csv')
df = pd.read_csv(PyBank_Path)
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [62]:
#initialize variable to hold profits/loses
profit_loses = [867884,984655,322013,-69417,310503,522857,1033096,604885,-216386,477532]

months = 0
average = 0
total = 0
max_decrease = profit_loses[1]
max_increase = profit_loses[1]

In [63]:
#total number of months
months += total_months
months += 1
print(months)

2

In [54]:
#total of profits/loses 
print(sum(profit_loses))

4837622

In [59]:
for decrease in profit_loses:
    
    if decrease == 0:
        max_decrease = decrease
    elif max_decrease < decrease:
         decrease = max_decrease
    print(decrease)

0
0
0
-69417
0
0
0
0
-216386
0

In [60]:
for increase in profit_loses:
    if increase == 0:
        max_increase = increase
    elif max_increase > increase:
         increase = max_increase
    print(increase)

867884
984655
322013
0
310503
522857
1033096
604885
0
477532

In [61]:
#average change 
average = round(increase / decrease, 2)

ZeroDivisionError: division by zero